<head>
    <style>
        h1 {
        font-weight: bold;
        font-family: "Verdana", Arial, sans;
        }
    </style>
</head>

<h1>BLACKJACK</h1>

<link href="/assets/css/Blackjack.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>


        <table class="dealTable">
            <tr class="buttons">
                <td>Dealer Hand</td>
                <td><button id="deal">Deal</button></td>
                <td>Player Money:<textarea id="userMoney" readonly="true" width></textarea></td>
                <td>Bet:<textarea id="userBet" readonly="true" width></textarea></td>
            </tr>

            <tr>
                <td class="columnOfCards" id="c0">
                    <table>
                        <tr><td class="cardLocation l0"></td></tr>
                        <tr><td class="cardLocation l1"></td></tr>
                        <tr><td class="cardLocation l2"></td></tr>
                        <tr><td class="cardLocation l3"></td></tr>
                        <tr><td class="cardLocation l4"></td></tr>
                        <tr><td class="cardLocation l5"></td></tr>
                        <tr><td class="cardLocation l6"></td></tr>
                        <tr><td class="cardLocation l7"></td></tr>
                        <tr><td class="cardLocation l8"></td></tr>
                        <tr><td class="cardLocation l9"></td></tr>
                        <tr><td class="cardLocation l10"></td></tr>
                    </table>
                </td>
            </tr>
        </table>

            <table class="playerTable">
                <tr class="title">
                    <td>User Hand</td>
                    <td>Split</td>
                </tr>

                <tr>
                    <td class="columnOfCards" id="c1">
                        <table>
                            <tr><td class="cardLocation l0"></td></tr>
                            <tr><td class="cardLocation l1"></td></tr>
                            <tr><td class="cardLocation l2"></td></tr>
                            <tr><td class="cardLocation l3"></td></tr>
                            <tr><td class="cardLocation l4"></td></tr>
                            <tr><td class="cardLocation l5"></td></tr>
                            <tr><td class="cardLocation l6"></td></tr>
                            <tr><td class="cardLocation l7"></td></tr>
                            <tr><td class="cardLocation l8"></td></tr>
                            <tr><td class="cardLocation l9"></td></tr>
                            <tr><td class="cardLocation l10"></td></tr>
                        </table>
                    </td>
                    <td class="columnOfCards" id="c2">
                        <table>
                            <tr><td class="cardLocation l0"></td></tr>
                            <tr><td class="cardLocation l1"></td></tr>
                            <tr><td class="cardLocation l2"></td></tr>
                            <tr><td class="cardLocation l3"></td></tr>
                            <tr><td class="cardLocation l4"></td></tr>
                            <tr><td class="cardLocation l5"></td></tr>
                            <tr><td class="cardLocation l6"></td></tr>
                            <tr><td class="cardLocation l7"></td></tr>
                            <tr><td class="cardLocation l8"></td></tr>
                            <tr><td class="cardLocation l9"></td></tr>
                            <tr><td class="cardLocation l10"></td></tr>
                        </table>
                    </td>
                    <td class="columnOfCards"></td>

                </tr>
                <tr class="buttons2">
                    <td><button id="hit" onclick="HitFunction">Hit</button></td>
                    <td><button id="stay" onclick="StayFunction">Stay</button></td>
                    <td><form></form><input type="number" name="bet"><br>Bet Amount:</td>
                    <td><button id="ddown" onclick="DoubleDownFunction">Double Down</button></td>
                    <td><button id="split" onclick="SplitFunction">Split</button></td>
                </tr>
            </table>


<script>
var game;

function display(game) {
    console.log(game);
    $('#userMoney').html(game.p.money);
    $('.columnOfCards .cardLocation').html("");

    $.each(game.d.hand, function( key, val ) {
        $( '#c0 .l'+key).html(val.value + val.suit);
    });
    $.each(game.p.hand, function( key, val ) {
        $( '#c1 .l'+key).html(val.value + val.suit);
    });
}


$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});

$("#deal").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});



</script>



</body>
</html>